    <!-- Header -->
    <header class="main-header">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/"><%= config.name %></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/status">Node Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/services">Services</a>
                </li>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item dropdown">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Legal
                          <img
                            src="./assets/img/icons/chevron-down.png"
                            alt="Hosting-Template-3"/>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li>
                            <a class="dropdown-item" href="/terms">Terms And Condition</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="/privacy"
                              >Privacy And Policy</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btns">
                <a class="viper-btn btn-outline-1" href="/client">Client</a>
                <a class="viper-btn btn-outline-1" href="/panel">Panel</a>
            </div>
              </nav>
      </header>
    <!-- Header End -->