    <!-- Locations -->
    <div class="locations-block">
        <div class="heading-block">
          <h2 class="viper-border">Locations</h2>
          <h3>Our data centers locations</h3>
        </div>
        <div class="container">
          <div class="map-wrap">
            <div class="map">Alternative content</div>
          </div>
        </div>
      </div>
    <!-- Locations End-->
