 <!-- Reviews -->
 <div class="reviews-block">
    <div class="heading-block">
      <h3>Why customers choose us</h3>
      <h2 class="viper-border">Reviews</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Item -->
          <div class="item">
            <img src="./assets/img/clients/user.png" alt="viper" />
            <div class="info">
              <p>
                I've hopped from host to host, never really found a proper hosting company that can keep my projects safe. Until I stumbled across viper.gg, for being a smaller company they are already for my feeling on top of the game. I feel like family due to the great support & direct contact with their support team...</p>
              <h3>Ronan</h3>
            </div>
          </div>
          <!-- Item -->
          <div class="item">
            <img src="./assets/img/clients/user.png" alt="viper" />
            <div class="info">
              <p>
                I have had this hosting, for around a year, and haven't had second thoughts on switching, Their team is amazing!! Very quick responses, ddos protection is very good, also really reasonable prices.
              </p>
              <h3>Haze</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Item -->
          <div class="item">
            <img src="./assets/img/clients/user.png" alt="viper" />
            <div class="info">
              <p>
                I have been using viperhost.net for around six months now and have enjoyed the service and performance ever since the beginning. Not only do they offer amazing support but their servers offer amazing performance compared to their competitors...</p>
              <h3>Jerry</h3>
            </div>
          </div>
          <!-- Item -->
          <div class="item">
            <img src="./assets/img/clients/user.png" alt="viper" />
            <div class="info">
              <p>
                Having used several main stream hosting there is (AWS, NFO, OVH) and more

                Having used several viper.gg server(s) I've never been let down, uptime is 99.99% and above. The best one could offer.
                
                All servers they have & use are on the latest hardware, never compromising in any aspect so the compute performance is top notch...
                
                  
              </p>
              <h3>Vito</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- Reviews End -->
