<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>404 Not Found</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/404/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./assets/css/404/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./assets/css/404/error.css">
</head>

<body>
    <div id="page-error">
        <div class="navbar">
        </div>
        <section>
            <div class="container">
                <div class="row row-cont">
                    <div class="col-md-8 col-sm-10 align-auto">
                        <h1>
                            Error
                            <span class="blue-abrv">[<h1>404</h1>]</span>
                            <br/>
                            <span><h1 class="blue-abrv">Not Found</h1></span>
                        </h1>
                        <p class="error-msg">The requested URL does not exist.</p>
                        <br />
                        <div>
                            <h2>We can help</h2>
                            <ul id="solutions">
                                <li>Please try again in a few minutes.</li><li>Confirm the URL is spelled correctly.</li><li>Clear your browser cache.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-10 offset-lg-1 offset-md-0 error-img flexible">
                        <img class="align-auto" src="./assets/img/404/error.png" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>