<!DOCTYPE html>
<html lang="en">
 

<!-- ======= Header ======= -->
<%- include('./Parts/head') %> 
<!-- End Header -->



<body>



<!-- ======= Header ======= -->
<%- include('./Parts/header') %> 
<!-- End Header -->

    <!-- Services -->
    <br>
    <br>
    <div class="services-block" id="services-block">
      <div class="container">
        <div class="heading-block">
          <h3>Our Services</h3>
          <h2 class="viper-border">Services</h2>
        </div>
        <ul class="row">
          <li class="col-md-3">
            <img src="./assets/img/icons/device.png" alt="viper" />
            <h2>Dedicated Servers</h2>
            <p>
              Dedicated servers give you the opportunity to take advantage of all the specifications. Super fast and reliable for hosting multiple services!
            </p>
            <h3>Starting at $134.99/mo</h3>
            <a class="viper-btn btn-outline" href="dedicated.html">Learn More</a>
          </li>
          <li class="col-md-3">
            <img src="./assets/img/icons/server.png" alt="viper" />
            <h2>Virtual Private Servers</h2>
            <p>
              Our premium virtualized private servers offer you great performance, high-grade hardware and proper DDoS Protection, with no noisy neighbors.
            </p>
            <h3>Starting at $16.49/mo</h3>
            <a class="viper-btn btn-outline" href="vps.html">Learn More</a>
          </li>
          <li class="col-md-3">
            <img src="./assets/img/icons/game-server.png" alt="viper" />
            <h2>Game Servers</h2>
            <p>
              Focus on what's important, and build your community. Profit from proper DDoS Protection, easy setup & great features.
              No longer worry about ddos.
            </p>
            <h3>Starting at $7.99/mo</h3>
            <a class="viper-btn btn-outline" href="game-servers.html">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  <!-- Footer -->
  <%- include('./Parts/footer') %> 
  <!-- End Footer -->
    <!-- Jq -->
    <script src="./assets/js/jquery-3.6.0.slim.min.js"></script>
    <!-- Bootstrap -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- Maps -->
    <script src="./assets/js/jquery.mousewheel.min.js"></script>
    <script src="./assets/js/raphael.min.js"></script>
    <script src="./assets/js/jquery.mapael.min.js"></script>
    <script src="./assets/js/world_countries.min.js"></script>
    <script src="./assets/js/map-config.js"></script>
    <!-- Custom -->
    <script src="./assets/js/custom.js"></script>
  </body>
</html>